/*?Modificacion de body para unificar background en secciones*/
body{
    background: linear-gradient(#000000,#2d0101,#000000, #760101e6,#000000)
}


/*?Estilos para header contemplando el navbar y el herosection*/

/*!Edicion Navbar*/
.mi-navbar{ /**clase colocada para modificar las propiedades y valores del navbar de bootstrap*/
    background-color: black;
    color: #ffffff;
}

.mi-navbar .nav-link { /**Acorde a la documentacion de bootstrap la clase definida es para el listado del menu*/
    color: white;
    font-size: 20px;
    margin: 5px;
}

.mi-navbar .navbar-brand { /**Acorde a la documentacion de bootstrap la clase definida para el nombre de la pagina para poder modificar*/
    color: rgb(186, 1, 1);
    font-size: 20px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 50px;
}

/*!Edicion hero section en header*/
#heroSection{
   background-image:/**Colocar de fondo una imagen especifica, se utiliza el valor de url para la seleccion de imagen*/
        radial-gradient(
            circle,/**Se utiliza radial-gradient junto con background-image para crear un efecto de viñeta: el centro de la imagen permanece más visible y los bordes se oscurecen gradualmente con negro.*/
            rgba(0, 0, 0, 0.50) 50%, 
            /**Desde el centro hasta aproximadamente el 50% se aplica negro con 50% de transparencia, por lo que la imagen aún se ve */
            rgb(0, 0, 0) 100% /**Al llegar a los bordes, el color se vuelve negro completamente,creando el efecto de viñeta*/
        ),
        url(/assest/hero-section.png); /**direccion de la imagen que se utilizara para fondos, se coloca la imagen del hero debajo del degradado*/

    background-size: cover; /**la imagen subre el total de area*/
    background-position: center;
    height: 520px;   
}
/*!Modificacion de titulo principal de hero section*/
h1{
width: 70%; /**Modificacion de ancho para visualizacion de imagen de background*/
font-size: 80px;
color: #D10002;
padding-top: 60px;
margin-left: 70px;
font-family: Impact, Charcoal, sans-serif;
}
/*!Modificacion de parrafo principal de hero section*/
#parrafoHero{
    width: 60%;
    color: white;
    padding-top: 10px;
    margin-left: 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}
/*!Modificacion de "boton" de hero section*/
#botonHero{
display: block; /**se cambio su comportamiento debido que se utiliza la etiqueta a cuyo valor predefino es inline y no permite ciertas modificaciones*/
width: 300px; /**ancho de boton*/
height: 45px; /**alto de boton*/
border-radius: 20px; background-color: #4f0203; 
color: #ffffff;
align-items: center;
margin: 30px 80px;
font-weight: bold;
font-size: 20px;
text-align: center;
padding: 10px;
text-decoration: none;
}
    
/*!Modificacion de contenedor de secciones*/
.container{
    border-top: 10px solid; 
    border-color: #7a0000;
    margin-top: 30px;
}

.icono{
    display: flex;
    align-items: left;
    gap: 20px; /**Agregar espacio entre elementos*/
    margin-top: 15px;

}
.imagenIcono{
    width: 80px;
    height: 80px;
}

h2{
    font-family: Impact, Charcoal, sans-serif;
    font-size: 50px;
    color: #fdfdfd;
    padding-top: 8px;
}


/*!Modificacion de las cards de recomendacion*/
.cards{
    margin-top: 20px;
    height: 395px;
    border-left: 10px solid #D10002;
    border-radius: 20px;
}

.img-card{
    height: 395px;
    width: 290px;
    border-radius: 2px;
    align-items: center;
    justify-content: center;
}


.info{ /**Es la tarjeta de informacion de la pelicula o serie**/
    display: flex;
    gap: 15px;  /**Agregar espacio entre elementos*/
    width: 100%;
    font-size: 12px;
    padding: 0px 5px;
    margin: 0px;
    align-items: center;
    justify-content: left;
    color: #fdfdfd;
    background-color: #4f0203;
    border-radius: 5px;
}

.sinopsis-tittle{
margin-bottom: 0; /**Se determino margin-bottom 0 ya que era una propiedad predefinida por parte de bootstrap*/
}

.sinopsis-description{ 
    font-size: 12px;
    margin-bottom: 0;
}

.porque-tittle{
    margin-top: 0;
    margin-bottom: 0;
}

.porque-description{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    text-align: left;

}

.card-title{
    font-weight: bold;
    font-size: 20px;
}

/**boton para ver pelicula*/
.botonPelicula{
    display: block; /**se cambio su comportamiento debido que se utiliza la etiqueta a cuyo valor predefino es inline y no permite ciertas modificaciones*/
width: 100px; /**ancho de boton*/
height: 25px; /**alto de boton*/
border-radius: 20px; background-color: #4f0203; 
color: #ffffff;
align-items: center;
margin: 0px 80px;
font-weight: bold;
font-size: 10px;
text-align: center;
padding-top: 5px;
text-decoration: none;
}

/*!Modificacion de footer*/
footer{
   background-image:/**Colocar de fondo una imagen especifica, se utiliza el valor de url para la seleccion de imagen*/
        radial-gradient(
            circle,/**Se utiliza radial-gradient junto con background-image para crear un efecto de viñeta: el centro de la imagen permanece más visible y los bordes se oscurecen gradualmente con negro.*/
            rgba(0, 0, 0, 0.50) 50%, 
            /**Desde el centro hasta aproximadamente el 50% se aplica negro con 50% de transparencia, por lo que la imagen aún se ve */
            rgb(0, 0, 0) 100% /**Al llegar a los bordes, el color se vuelve negro completamente,creando el efecto de viñeta*/
        ),
        url(/assest/Hero-Terror.png); /**direccion de la imagen que se utilizara para fondos, se coloca la imagen del hero debajo del degradado*/

    background-size: cover; /**la imagen subre el total de area*/
    background-position: center;
    height: 300px;   
}

